{% extends 'main.html' %}


{% block content %}

{% load static %}
<div class="overlay">
    <div class="overlay_login">
        <div class="login_header">
            <div class="header_title">Log in</div>
            <div class="close_wrapper">
                <img src="{% static 'images/close.svg' %}">
            </div>
        </div>
        
        <div class="login_details">
            <form class="login_form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input class="form_input" type="" name="username" placeholder="Username">
                <input class="form_input" type="password" name="password" placeholder="Password">
                <input class="btn form_btn" type="submit" value="Log in">
                <div class="form_forgot">Forgot your password?</div>
            </form>
        </div>

        <div class="login_footer">
            <div class="separator footer_separator"></div>
            <div class="footer_text">Don't have an account? <span>Sign up</span></div>
        </div>
    </div>
</div>

<section class="flex_container_paper">

    <div class="paper_card_full">
        <div class="paper_details_full">
            <div class="paper_title">
                {{ paper.title }}
            </div>
    
            <p>Abstract</p>
            <div class="paper_abstract line_break">
                {{ paper.abstract }}
            </div>  
    
            <div class="separator"></div>
    
            <p>Student Researchers</p>
            <ul class="student_researchers">
                <li>Miguel N. Cemiller</li>
                <li>Jian Carlo C. Carayap</li>
                <li>Airha M. Villanueva</li>
            </ul>
    
            <div class="separator"></div>
            <p>Technical Panel</p>
            <ul class="technical_panel">
                <li>
                    <div>Mia V. Villarica, DIT</div>
                    <span>Research Adviser</span>
                </li>
                <li>
                    <div>Jonardo Ricasa Asor</div>
                    <span>Subject Specialist</span>
                </li>
                <li>
                    <div>Alliana M. Ablan</div>
                    <span>Technical Editor</span>
                </li>
                <li>
                    <div>Victor Estalilla</div>
                    <span>Statistician</span>
                </li>
                <li>
                    <div>Cezzane Dimaculangan</div>
                    <span>Language Critic</span>
                </li>
            </ul>
    
            <div class="separator"></div>
            <p>Undergraduate Program</p>
            <div class="undergrad_program">Bachelor of Science in Computer Science (BSCS)</div>
            <div class="separator"></div>
            <p>Year</p>
            <div class="year">{{paper.year}}</div>
            <div class="separator"></div>
            <p>Views</p>
            <div class="views">{{ paper.downloads }}</div>
        </div>
    
        {% if request.user.is_authenticated %}
        <a href="{% static 'images/papers/' %}{{paper.pdf_name}}.pdf" target="_blank"><button class="btn btn_secondary">View</button></a>
        {% else %}
        <a class="view"><button class="btn btn_secondary">View</button></a>
        {% endif %}
    </div>


    <div class="related_papers">
        <div class="related_papers_heading">Related Papers</div>
        {% for related in related_papers %}
        <a href="{% url 'paper' related.slug %}" class="content">
            <div class="related_paper_card">
                <div class="related_paper_views_year">{{ related.downloads}} Views &middot; {{ related.year}}</div>
                <div class="related_paper_title" >{{ related.title }}</div>
                <!-- <div class="related_paper_authors" >Cemiller, Carayap, Villanueva</div> -->
                <div class="related_paper_abstract" >{{ related.abstract|slice:"100" }}...</div>
            </div>
        </a>
        {% endfor %}
        <div class="show_more">Show More</div>
    </div>
</section>





<script type="text/javascript">
    // Get div content
    string = $('.line_break').text()
    // Replace all carriage returns or new lines with an HTML line break.

    // $('.paper_abstract').html(string.replace(/(\r|\n\n)/g, '<br/><br/><p style="text-indent: 30px;">'))

    $('.line_break').html(string.replace(/(\r|\n\n)/g, '<br/><br/>'))

    $(document).ready(function(){
        $(".content").slice(0, 2).show(); 
        $(".show_more").on("click", function(e){
            e.preventDefault();
            $(".content:hidden").slice(0, 2).slideDown(); 
            if($(".content:hidden").length == 0) {
                // $(".show_more").text("No Content").addClass("noContent");
                $(".show_more").css('display', 'none');
            }
      });
    });

 
    $(".view").on("click", function() {
        $(".overlay").css("display", "flex");
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on modal
    });


    $(".close_wrapper").on("click", function() {
        $(".overlay").css("display", "none");
        $('body').css('overflow-y', 'auto'); // Enable vertical scroll
    });

    $(".overlay_login").on("click", function(e) {
         e.stopPropagation()
    });

    

   
</script>

{% endblock content %}