{% extends 'main.html' %}


{% block content %}

<div class="login_container">
    <span>Welcome back</span>
    <span>We're happy to see you again!</span>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Log In">
    </form>
    <span>Forgot your password?</span>
    <span>Don't have an account? Sign Up</span>
</div>

{% endblock content %}