{% extends 'main.html' %}


{% block content %}


<section class="cards">
   
    {% for paper in papers %}
    <a href="{% url 'paper' paper.id %}" style="text-decoration: none;">
        <div class="paper_card">
            <div class="paper_details">
                <div class="paper_title" value="{{ paper.title }}" search="{{ search }}">{{ paper.title }}</div>
                <div class="subtitle_container">
                    <div class="paper_views">{{ paper.downloads }} views</div>
                    <div class="paper_author">Author1, Author2, Author 3 {{ paper.year }}</div>
                </div>
                <div class="paper_abstract" class="abstract" value="{{ paper.abstract }}" search="{{ search }}">
                    {{ paper.abstract|slice:":240"}}...
                </div>  
            </div>
        </div>
    </a>
    {% endfor %}
</section>


{% if papers.has_other_pages %}
<div class="pagination">
    <ul class="pagination_nav">

        {% if papers.has_previous %}
        <li><a href="?page={{papers.previous_page_number}}" class="page_link" page-value="{{papers.previous_page_number}}">&#10094; Prev</a></li>
        {% endif %}

        {% for page in custom_range %}
        {% if page == papers.number %}
        <li><a href="?page={{page}}" class="active page_link" page-value="{{page}}">{{page}}</a></li>
        {% else %}
        <li><a href="?page={{page}}" class="page_link" page-value="{{page}}">{{page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if papers.has_next %}
        <li><a href="?page={{papers.next_page_number}}" class="page_link" page-value="{{papers.next_page_number}}">Next &#10095;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script type="text/javascript">
    
    const highlight = (needle, haystack) =>
        haystack.replace(
            new RegExp(`(${needle.join('|')})`, 'gi'),
            (str) => `<b>${str}</b>`
        );

     // Paper title abstract highlight 

    $(".paper_abstract").each(function (index, element) {

        var abstract = $(element).attr('value');
        var search = $(element).attr('search');


        var searchArr = search.split(/\s/);

        $(element).html(highlight(searchArr, abstract)); 
    }); 

    // Paper title search highlight 

    $(".paper_title").each(function (index, element) {

        var title = $(element).attr('value');
        var search = $(element).attr('search');


        var searchArr = search.split(/\s/);

        $(element).html(highlight(searchArr, title)); 
    }); 

    
    // Connect search form to pagination

    // Get search form and page links
    var searchForm = document.getElementById('search_form');
    var pageLinks = document.getElementsByClassName('page_link');

    // Ensure search form exists
    if(searchForm) {
        for (var x=0; pageLinks.length > x; x++) {
            pageLinks[x].addEventListener('click', function(e) {
                e.preventDefault();
                
                var page = this.getAttribute('page-value');
                
                searchForm.innerHTML += `<input value=${page} name="page" hidden/>`;

                searchForm.submit();

            });
        }
    }

</script>


{% endblock content %}