{% extends 'main.html' %}


{% block content %}


<section class="cards">
   
    {% for paper in papers %}
    <div class="paper_card">
        <div class="paper_details">
            <div class="paper_title">{{ paper.title }}</div>
            <div class="subtitle_container">
                <div class="paper_views">{{ paper.downloads }} views</div>
                <div class="paper_author">Author1 et al., {{ paper.year }}</div>
            </div>
            {% if is_search is not False %}
            <div class="paper_abstract" class="abstract" value="{{ paper.abstract }}" start="{{ index }}" end="{{ indexes }}">
                {{ paper.abstract|slice:":240"}}...
            </div>
            {% else %}
            <div class="paper_abstract" class="abstract" value="{{ paper.abstract }}">
                {{ paper.abstract|slice:":240"}}...
            </div>
            {% endif %}
                
        </div>
    </div>
    {% endfor %}
 
</section>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script type="text/javascript">
    
    function wrapSubstring(sourceString, tag, startIndex, endIndex) {
        return sourceString.substring(0, startIndex)
            + "<" + tag + ">"
            + sourceString.substring(startIndex, endIndex)
            + "</" + tag + ">"
            + (endIndex ? sourceString.substring(endIndex) : "");
    }


    // $(".paper_abstract").each(function (index, element) {


    //     var abstract = $(element).attr('value');
        
    //     var start = $(element).attr('start');
    //     var end = $(element).attr('end');

    //     //alert(start);
    //     // alert(start[2]);

    //     $(element).html(wrapSubstring(abstract, 'b', start, end));

    // });

    const highlight = (needle, haystack) =>
        haystack.replace(
            new RegExp(needle, 'gi'),
            (str) => `<b>${str}</b>`
        );

    
    $(".paper_abstract").each(function (index, element) {

        var abstract = $(element).attr('value');
        
        var start = $(element).attr('start');
        var end = $(element).attr('end');

        $(element).html(highlight('lazy', abstract));
    }); 

    

</script>


{% endblock content %}