{% load static %}


<footer>
    <div class="footer">
        <a href="{% url 'landing' %}">
            <img class="logo" src="{% static 'images/papernerds.svg'%}" alt="Papernerds" title="Papernerds">
        </a>
        <nav class="nav">
            <div class="nav_social">
                <a href="#"><img src="{% static 'images/twitter.svg'%}" title="Papernerds on Twitter"></a>
                <a href="#"><img src="{% static 'images/instagram.svg'%}" title="Papernerds on Instagram"></a>
                <a href="#"><img src="{% static 'images/facebook.svg'%}" title="Papernerds on Facebook"></a>
            </div>
        </nav>   
        <div class="mode_toggle">
            <div class="toggle_circle"></div>
            <div class="mode_text">Dark</div>
        </div>
    </div>  
</footer>