{% load static %}


<footer>
    <div class="footer">
        <img class="logo" src="images/logo.svg" alt="Paperx" title="Paperx">
        <nav class="nav">
            <div class="nav_social">
                <a href=""><img src="images/twitter.svg" title="Paperx on Twitter"></a>
                <a href=""><img src="images/instagram.svg" title="Paperx on Instagram"></a>
                <a href=""><img src="images/facebook.svg" title="Paperx on Facebook"></a>
            </div>
        </nav>   
        <div class="cta_container">
            <button class="btn login">Sign up</button>
        </div>
    </div>  
</footer>