{% load static %}


<header>
    <div class="search_modal_overlay">
        <div class="search_modal">
            <div class="search_modal_back">&#10094;</div>
            <form class="search_modal_form" action="{% url 'results' %}" method="GET">
                <input name="search" class="search_modal_text" type="text" id="input" placeholder="Search...">
                <button class="search_modal_btn">
                    <img src="{% static 'images/search.svg'%}" >
                </button>
            </form>
        </div>
    </div>

    <div class="login_modal_m_overlay">
        <div id="slider" class="slide-out">
            <div class="login_modal_m">
                <div class="login_modal_m_header">
                    <div class="login_modal_m_close">
                        <img src="{% static 'images/close.svg' %}">
                    </div>
                    <div class="login_modal_m_header_text">Login</div>
                </div>
                
                <div class="login_modal_m_main">
                    <form class="login_modal_m_form" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input class="form_input" type="" name="username" placeholder="Username">
                        <input class="form_input" type="password" name="password" placeholder="Password">
                        <input class="btn form_btn" type="submit" value="Log in">
                        <div class="form_forgot">Forgot your password?</div>
                    </form>
                </div>
                
                <div class="login_modal_m_footer">
                    <div class="separator footer_separator"></div>
                    <div class="login_modal_m_footer_text">Don't have an account? <span>Sign up</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="account_modal_m_overlay">
        <div id="a_m_slider" class="a-m-slide-out">
            <div class="account_modal_m">
                <div class="account_modal_m_header">
                    <div class="account_modal_m_close">
                        <img src="{% static 'images/close.svg' %}">
                    </div>
                    <div class="account_modal_m_header_text">Account</div>
                </div>

                <div class="account_modal_m_main">
                    <div class="account_modal_m_picture_name">
                        <img class="account_modal_m_picture" src="{% static 'images/profiles/headshot.png'%}" >
                        <div class="account_modal_m_name">{{ request.user.first_name }}</div>
                    </div>
                    <div class="separator account_modal_m_separator"></div>
                    <a href="#"><div class="account_modal_m_menu">Profile</div></a>
                    <a href="{% url 'logout' %}"><div class="account_modal_m_menu">Logout</div></a>
                </div>
            </div>
        </div>
    </div>
   
    <div class="navbar">
        <a href="{% url 'landing' %}">
            <img class="logo" src="{% static 'images/papernerds.svg'%}" alt="Papernerds" title="Papernerds" style="display: block;">
        </a>

        {% if request.get_full_path == '/' %}
        
        <!-- nothing -->
        
        {% else %}
        <form id="search_form" class="navbar_search search_container" action="{% url 'results' %}" method="GET">
            <input name="search" class="search_text" type="text" id="input" placeholder="Search...">
            <button class="search_btn">
                <img src="{% static 'images/search.svg'%}" >
            </button>
        </form>
        <div class="search_btn_alt_wrapper">
            <button class="search_btn_alt">
                <img src="{% static 'images/search_alt.svg'%}" >
            </button>
        </div>
        
        {% endif %}

    
        {% if request.user.is_authenticated %}
        <div class="profile_nav">
            <div class="profile_container">
                <img class="profile_image" src="{% static 'images/profiles/headshot.png'%}" alt="">
                <div class="profile_name">{{ request.user.first_name }}</div>
            </div>
            <div class="profile_container_m hide_profile_container">
                <img class="profile_image" src="{% static 'images/profiles/headshot.png'%}" alt="">
            </div>
            <ul class="profile_dropdown hide_dropdown">
                <li><a href="#">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        
        {% else %}
        <div class="sign_in">
            <a href="{% url 'login' %}"><button class="btn btn_primary">Sign In</button></a>
        </div>
        <div class="sign_in_m hide_sign_in">
            <a><button class="btn btn_primary">Sign In</button></a>
        </div>
        {% endif %}
    </div>  

</header>

<script type="text/javascript">

    // Profile Container Dropdown
    $('.profile_container').click(function(e) {
        e.stopPropagation();
        $('.profile_dropdown').toggleClass('hide_dropdown');
    });

    $('body').on('click', function() { 
       $('.profile_dropdown').addClass('hide_dropdown');
    });

    // Search Modal Overlay 
    $('.search_btn_alt_wrapper').click(function(e) {
        $('.search_modal_overlay').css('display', 'flex'); // Display modal
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on body
        $('.search_modal_text').focus(); // Focus search modal text
    });

    $(".search_modal_back").on("click", function() {
        $(".search_modal_overlay").css("display", "none");
        $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
    });

    $(".search_modal_overlay").on("click", function() { // When overlay (dark) is click
        $(".search_modal_overlay").css("display", "none");
        $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
    });

     $(".search_modal").on("click", function(e) { // Disable click on search modal
         e.stopPropagation();
    });



    // Login Modal Mobile Overlay 
    $('.sign_in_m').click(function(e) {
        $('.login_modal_m_overlay').css('display', 'flex'); // Display modal
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on body


        $('#slider').removeClass('slide-out');
        $('#slider').addClass('slide-in');
    });

    $(".login_modal_m_close").on("click", function() {
        $('#slider').removeClass('slide-in');
        $('#slider').addClass('slide-out');

        // wait 0.5s for animation to finish
        setTimeout(function() {
            $(".login_modal_m_overlay").css("display", "none");
             $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
        }, 500);
    });



    // Account Modal Mobile Overlay 
    $('.profile_container_m').click(function(e) {
        $('.account_modal_m_overlay').css('display', 'flex'); // Display modal
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on body

        $('#a_m_slider').removeClass('a-m-slide-out');
        $('#a_m_slider').addClass('a-m-slide-in');
    });

    $(".account_modal_m_close").on("click", function() {
        $('#a_m_slider').removeClass('a-m-slide-in');
        $('#a_m_slider').addClass('a-m-slide-out');

         // wait 0.5s for animation to finish
        setTimeout(function() {
            $(".account_modal_m_overlay").css("display", "none");
             $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
        }, 500);
    });
    
    $(".account_modal_m_overlay").on("click", function() { // When overlay (dark) is click
        $('#a_m_slider').removeClass('a-m-slide-in');
        $('#a_m_slider').addClass('a-m-slide-out');

         // wait 0.5s for animation to finish
        setTimeout(function() {
            $(".account_modal_m_overlay").css("display", "none");
             $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
        }, 500);
    });

     $(".account_modal_m").on("click", function(e) { // Disable click on search modal
         e.stopPropagation();
    });





</script>