{% load static %}


<header>
    <div class="navbar">
        <img class="logo" src="{% static 'images/papernerds.svg'%}" alt="Papernerds" title="Papernerds">
        <div class="search_container">
            <input class="search_text" type="text" id="input" placeholder="Search...">
            <button class="search_btn">
                <img src="{% static 'images/search.svg'%}" >
            </button>
        </div>
        <div class="cta_container">
            <button class="btn btn_secondary">Sign Up</button>
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>  
</header>