{% load static %}


<header>
    <div class="overlay">
        <div class="overlay_login">
            <div class="login_header">
                <div class="header_title">Log in</div>
                <div class="close_wrapper">
                    <img src="{% static 'images/close.svg' %}">
                </div>
            </div>
            
            <div class="login_details">
                <form class="login_form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <input class="form_input" type="" name="username" placeholder="Username">
                    <input class="form_input" type="password" name="password" placeholder="Password">
                    <input class="btn form_btn" type="submit" value="Log in">
                    <div class="form_forgot">Forgot your password?</div>
                </form>
            </div>
    
            <div class="login_footer">
                <div class="separator footer_separator"></div>
                <div class="footer_text">Don't have an account? <span class="js-sign-up">Sign up</span></div>
            </div>
        </div>
    </div>

    <div class="modal-overlay search-modal">
        <div class="modal-overlay__search">
            <div class="modal-overlay__search__back">&#10094;</div>
            <form class="search-form" action="{% url 'results' %}" method="GET">
                <button class="search-form__icon" title="Search Papernerds" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22.575" height="22.557" viewBox="0 0 22.575 22.557"  preserveAspectRatio="none"><path class="a" d="M9.246,18.542a9.211,9.211,0,0,0,5.13-1.559l5.312,5.312a1.105,1.105,0,0,0,1.541,0l1.033-1.033a1.105,1.105,0,0,0,0-1.541l-5.33-5.294a9.242,9.242,0,1,0-7.687,4.115Zm0-14.866A5.62,5.62,0,1,1,3.626,9.3,5.625,5.625,0,0,1,9.246,3.676Z" transform="translate(0 -0.05)"/></svg>
                </button>
                <input class="search-form__text" name="search" type="text" autocomplete="off" placeholder="Search">
            </form>
        </div>
    </div>

    <div class="login_modal_m_overlay">
        <div id="slider" class="slide-out">
            <div class="login_modal_m">
                <div class="login_modal_m_header">
                    <div class="login_modal_m_close">
                        <img src="{% static 'images/close.svg' %}">
                    </div>
                    <div class="login_modal_m_header_text">Login</div>
                </div>
                
                <div class="login_modal_m_main">
                    <form class="login_modal_m_form" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input class="form_input" type="" name="username" placeholder="Username">
                        <input class="form_input" type="password" name="password" placeholder="Password">
                        <input class="btn form_btn" type="submit" value="Log in">
                        <div class="form_forgot">Forgot your password?</div>
                    </form>
                </div>
                
                <div class="login_modal_m_footer">
                    <div class="separator footer_separator"></div>
                    <div class="login_modal_m_footer_text">Don't have an account? <span>Sign up</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="account_modal_m_overlay">
        <div id="a_m_slider" class="a-m-slide-out">
            <div class="account_modal_m">
                <div class="account_modal_m_header">
                    <div class="account_modal_m_close">
                        <img src="{% static 'images/close.svg' %}">
                    </div>
                    <div class="account_modal_m_header_text">Account</div>
                </div>

                <div class="account_modal_m_main">
                    <div class="account_modal_m_picture_name">
                        <img class="account_modal_m_picture" src="{{ curr_student.profile_image.url }}" >
                        <div class="account_modal_m_name">{{ curr_student.firstname }}</div>
                    </div>
                    <div class="separator account_modal_m_separator"></div>
                    <a href="#"><div class="account_modal_m_menu">Profile</div></a>
                    <a href="{% url 'logout' %}"><div class="account_modal_m_menu">Logout</div></a>
                </div>
            </div>
        </div>
    </div>
   
    <nav>
        <a class="logo" href="{% url 'home' %}">
            <img src="{% static 'images/papernerds2.svg'%}" alt="Papernerds" title="Papernerds">
            <img src="{% static 'images/papernerds1.svg'%}" alt="Papernerds" title="Papernerds">
        </a>

        {% if request.get_full_path == '/' %}
        
        <!-- nav search bar is hidden -->
        
        {% else %}
        <form class="search-form" action="{% url 'results' %}" method="GET">
            <button class="search-form__icon js-orig" title="Search Papernerds" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="22.575" height="22.557" viewBox="0 0 22.575 22.557"  preserveAspectRatio="none"><path class="a" d="M9.246,18.542a9.211,9.211,0,0,0,5.13-1.559l5.312,5.312a1.105,1.105,0,0,0,1.541,0l1.033-1.033a1.105,1.105,0,0,0,0-1.541l-5.33-5.294a9.242,9.242,0,1,0-7.687,4.115Zm0-14.866A5.62,5.62,0,1,1,3.626,9.3,5.625,5.625,0,0,1,9.246,3.676Z" transform="translate(0 -0.05)"/></svg>
            </button>
            <input class="search-form__text" name="search" type="text" autocomplete="off" placeholder="Search">
        </form>

        <div class="search-icon-wrapper hide">
            <button class="search-form__icon" title="Search Papernerds">
                <svg xmlns="http://www.w3.org/2000/svg" width="22.575" height="22.557" viewBox="0 0 22.575 22.557"  preserveAspectRatio="none"><path class="a" d="M9.246,18.542a9.211,9.211,0,0,0,5.13-1.559l5.312,5.312a1.105,1.105,0,0,0,1.541,0l1.033-1.033a1.105,1.105,0,0,0,0-1.541l-5.33-5.294a9.242,9.242,0,1,0-7.687,4.115Zm0-14.866A5.62,5.62,0,1,1,3.626,9.3,5.625,5.625,0,0,1,9.246,3.676Z" transform="translate(0 -0.05)"/></svg>
            </button>
        </div>
   
        {% endif %}

        {% if request.user.is_authenticated %}
        <div class="profile_nav">
            <div class="profile_container">
                <img class="profile_image" src="{{ curr_student.profile_image.url }}" alt="">
                <div class="profile_name">{{ curr_student.firstname }}</div>
            </div>
            <div class="profile_container_m hide_profile_container">
                <img class="profile_image" src="{{ curr_student.profile_image.url }}" alt="">
            </div>
            <ul class="profile_dropdown hide_dropdown">
                <li><a href="#">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        
        {% else %}
        <div class="sign_in">
            <a><button class="btn js-sign-in">Sign in</button></a>
        </div>
        <div class="sign_in_m hide_sign_in">
            <a><button class="btn">Sign in</button></a>
        </div>
        {% endif %}
    </nav>  

</header>

<script type="text/javascript">

    // Profile Container Dropdown
    $('.profile_container').click(function(e) {
        e.stopPropagation();
        $('.profile_dropdown').toggleClass('hide_dropdown');
    });

    $('body').on('click', function() { 
       $('.profile_dropdown').addClass('hide_dropdown');
    });

    // ------------Search Modal Overlay---------------
    $('.search-form__icon', 'js-orig').click(function(e) {
        $('.modal-overlay').css('display', 'flex'); // Display modal
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on body
        $('.search-form__text').focus(); // Focus search modal text
    });

    $(".modal-overlay__search__back").on("click", function() {
        $(".modal-overlay").css("display", "none");
        $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
    });

    $(".modal-overlay").on("click", function() { // When overlay (dark) is click
        $(".modal-overlay").css("display", "none");
        $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
    });

     $(".modal-overlay__search").on("click", function(e) { // Disable click on search modal
         e.stopPropagation();
    });



    // Login Modal Desktop
    $(".js-sign-in").on("click", function() {
        $(".overlay").css("display", "flex");
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on modal
    });


    $(".close_wrapper").on("click", function() {
        $(".overlay").css("display", "none");
        $('body').css('overflow-y', 'auto'); // Enable vertical scroll
    });


    // Login Modal Mobile Overlay 
    $('.sign_in_m').click(function(e) {
        $('.login_modal_m_overlay').css('display', 'flex'); // Display modal
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on body


        $('#slider').removeClass('slide-out');
        $('#slider').addClass('slide-in');
    });

    $(".login_modal_m_close").on("click", function() {
        $('#slider').removeClass('slide-in');
        $('#slider').addClass('slide-out');

        // wait 0.5s for animation to finish
        setTimeout(function() {
            $(".login_modal_m_overlay").css("display", "none");
             $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
        }, 500);
    });



    // Account Modal Mobile Overlay 
    $('.profile_container_m').click(function(e) {
        $('.account_modal_m_overlay').css('display', 'flex'); // Display modal
        $('body').css('overflow-y', 'hidden'); // Disable vertical scroll on body

        $('#a_m_slider').removeClass('a-m-slide-out');
        $('#a_m_slider').addClass('a-m-slide-in');
    });

    $(".account_modal_m_close").on("click", function() {
        $('#a_m_slider').removeClass('a-m-slide-in');
        $('#a_m_slider').addClass('a-m-slide-out');

         // wait 0.5s for animation to finish
        setTimeout(function() {
            $(".account_modal_m_overlay").css("display", "none");
             $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
        }, 500);
    });
    
    $(".account_modal_m_overlay").on("click", function() { // When overlay (dark) is click
        $('#a_m_slider').removeClass('a-m-slide-in');
        $('#a_m_slider').addClass('a-m-slide-out');

         // wait 0.5s for animation to finish
        setTimeout(function() {
            $(".account_modal_m_overlay").css("display", "none");
             $('body').css('overflow-y', 'auto'); // Enable vertical scroll on body
        }, 500);
    });

     $(".account_modal_m").on("click", function(e) { // Disable click on search modal
         e.stopPropagation();
    });





</script>